In [1]:
import pandas as pd
df_l = pd.DataFrame(
    {
        'a': [0, 1, 1, 3],
        'b': [11, 12, 13, 14]
    }
)
df_r = pd.DataFrame(
    {
        'a': [0, 1, 2],
        'b': [21, 22, 23]
    }
)

In [2]:
df_l

   a   b
0  0  11
1  1  12
2  1  13
3  3  14

In [3]:
df_r

   a   b
0  0  21
1  1  22
2  2  23

In [4]:
df_l.merge(how='left', right=df_r, on=['a'], suffixes=('_l', '_r'))

   a  b_l   b_r
0  0   11  21.0
1  1   12  22.0
2  1   13  22.0
3  3   14   NaN